<hr/>
<h1>
<span>3</span> 
How long can you wait for a discussion-mate
</h1>

<ul class='buttons'>
<li>
<button data-value="15">15 min</button>
</li>
<li>
<button data-value="30">30 min</button>
</li>
<li>
<button data-value="60">60 min</button>
</li>
</ul>
