%section
  %h2 2. Choose your side on issues you want to discuss
  %ul
    %li
      %button Pro-life
      Abortion
      %button Pro-choice
    %li
      %button Gun Owner Rights
      Guns
      %button Gun Control
    %li
      %button Personal Responsibility
      Government programs
      %button Social safety-net
    %li
      %button Individual choice
      Health care
      %button Universal Healthcare
